
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form method="post" action="{{url_for('send_data')}}">
<label>Name:</label><input type=text name=date_of_operation>
<label>Email:</label><input type=text name=arrest>
<label>Name:</label><input type=text name=age_group_of_offender>
<label>Email:</label><input type=text name=race_of_offender>
<label>Name:</label><input type=text name=criminal_record>
<label>Email:</label><input type=text name=repeat_offender>
<label>Name:</label><input type=text name=in_possession_of_weapon>
<label>Email:</label><input type=text name=marital_status>
<label>Name:</label><input type=text name=highest_level_of_education>
<label>Email:</label><input type=text name=offenders_sector_of_employment>
<label>Name:</label><input type=text name=vehicle_towed_impounded>
<label>Email:</label><input type=text name=fines>
<label>Name:</label><input type=text name=number_of_charges>
<label>Email:</label><input type=text name=dna_taken>
<label>Name:</label><input type=text name=method_of_payment_for_ads>
<label>Email:</label><input type=text name=website_used_for_posting>
<input type=submit>
</form>


<ul>
{% for datum in data %}
 <li>   {{datum.date_of_operation}}
        {{datum.arrest}}
        {{datum.age_group_of_offender}}
        {{datum.race_of_offender}}
        {{datum.criminal_record}}
        {{datum.repeat_offender}}
        {{datum.in_possession_of_weapon}}
        {{datum.marital_status}}
        {{datum.highest_level_of_education}}
        {{datum.offenders_sector_of_employment}}
        {{datum.vehicle_towed_impounded}}
        {{datum.fines}}
        {{datum.number_of_charges}}
        {{datum.dna_taken}}
        {{datum.method_of_payment_for_ads}}
        {{datum.website_used_for_posting}}
         </li>
{% endfor %}
</ul>

</body>
</html>
